# ==========================================
# BASE DE DATOS
# ==========================================

DATABASE_URL=


# ==========================================
# AUTENTICACIÓN
# ==========================================

JWT_SECRET_KEY=


# ==========================================
# FRONTEND
# ==========================================

FRONTEND_URL=http://localhost:5173


# ==========================================
# MERCADO PAGO
# ==========================================

MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=


# ==========================================
# RESEND
# ==========================================

RESEND_API_KEY=


# ==========================================
# GEMINI
# ==========================================

GEMINI_API_KEY=


# ==========================================
# SUPABASE STORAGE
# ==========================================

SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_STORAGE_BUCKET=product-images